##> ide-config ##
.idea/
.vscode/
##< ide-config ##

##> composer ##
vendor/
composer.phar
composer.lock
##< composer ##

##> php-cs-fixer ##
.php_cs.cache
##< php-cs-fixer ##

##> phpunit ##
phpunit.xml
##< phpunit ##
