<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    bootstrap="vendor/autoload.php"
    backupGlobals="false"
    backupStaticAttributes="false"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    processIsolation="true"
    stopOnFailure="false"
    syntaxCheck="false">

    <php>
        <env name="CLIENT_EMAIL" value="" />
        <env name="CLIENT_PASSWORD" value="" />
    </php>

    <testsuite>
        <directory>tests/</directory>
    </testsuite>
</phpunit>
