<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    bootstrap="vendor/autoload.php"
    backupGlobals="false"
    backupStaticAttributes="false"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    processIsolation="true"
    stopOnFailure="false">

    <php>
        <env name="REDIS_URI" value="tcp://127.0.0.1:6379" />

        <env name="CLIENT_EMAIL" value="" />
        <env name="CLIENT_PASSWORD" value="" />
    </php>

    <testsuite name="R6API_Client">
        <directory>tests/</directory>
    </testsuite>
</phpunit>
